@page
@{
    ViewData["Title"] = "Resources";
}
<div>
    <h1 class="display-5">@ViewData["Title"]</h1>
    <p>.NET Blog: <a href="https://medium.com/@@meriffa" target="_blank">https://medium.com/@@meriffa</a></p>
    <p>.NET Blog Solution: <a href="https://github.com/meriffa/blog" target="_blank">https://github.com/meriffa/blog</a></p>
</div>