@page
@{
    ViewData["Title"] = "Exception (Unhandled Exception)";
}
@section Scripts
{
    <script>
        $("#btnStart").click(function () {
            ByteZoo.Blog.Web.Site.getRequest("#pContent", "/Api/Exceptions/Crash");
        });
    </script>
}
<div>
    <h1 class="display-5">Exception (Unhandled Exception)</h1>
    <button id="btnStart" type="button" class="btn btn-primary">Start</button>
    <div id="pContent" style="display: none;">
        <div>Processing ...</div>
        <img id="imgProcessing" src="~/Images/Processing.gif" />
    </div>
</div>